<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1> Playing with learning</h1>

        <ul>
            <%  for(let i=0;i<5;i++) {   %>
               <li>  <%= listOfName[i] %> </li>
                <% } %>

             <% if (false) { %>
            <h1>Its TRue</h1>
            <% }  %>   
        </ul>
    </body>
</html>